CompileFlags:
  Add:
    - -I/usr/include/qt
    - -I/usr/include/qt/QtCore
    - -I/usr/include/qt/QtGui
    - -I/usr/include/qt/QtWidgets
    - -I/usr/include/qt6
    - -I/usr/include/qt6/QtCore
    - -I/usr/include/qt6/QtGui
    - -I/usr/include/qt6/QtWidgets
    - -DQT_WIDGETS_LIB
    - -DQT_GUI_LIB
    - -DQT_CORE_LIB
    - -std=c++20
  Remove:
    - -mno-direct-extern-access
  CompilationDatabase: qt/build

